<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.newland.financial.p2p.mapping.TCmmCityMapper">

    <resultMap id="BaseResultMap" type="com.newland.financial.p2p.domain.entity.TCmmCity">
        <id column="CITY_CD" property="cityCd" jdbcType="VARCHAR"/>
        <result column="CITY_NM" property="cityNm" jdbcType="VARCHAR"/>
        <result column="ADM_CITY_CD" property="admCityCd" jdbcType="VARCHAR"/>
        <result column="PROV_CD" property="provCd" jdbcType="VARCHAR"/>
        <result column="PROV_NM" property="provNm" jdbcType="VARCHAR"/>
        <result column="TM_SMP" property="tmSmp" jdbcType="VARCHAR"/>
        <result column="NOD_ID" property="nodId" jdbcType="VARCHAR"/>
        <result column="STATS" property="stats" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List" >
        CITY_CD,CITY_NM,ADM_CITY_CD,PROV_CD,PROV_NM,TM_SMP,NOD_ID,STATS
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from T_CMM_CITY
        where CITY_CD = #{cityCd,jdbcType=VARCHAR}
    </select>


    <select id="selectByProperties" resultMap="BaseResultMap" parameterType="Map" >
        select
        <include refid="Base_Column_List" />
        from T_CMM_CITY
        where 1=1
        <if test="provNm != null and  provNm != ''" >
            and PROV_NM = #{provNm}
        </if>
    </select>


</mapper>